<footer class="footer_meditation">
  <a class="subscribe_meditation icon-rss" target="_blank" href="{{@blog.url}}/rss/">
  <span class="hidethis_meditation">Subscribe!</span></a>
  <div class="footertext_meditation">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
  <div class="footertext_meditation">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>